* {
    margin: 0;
    padding: 0;
}

/*object-fit: cover*/

body {
    background-color: rgb(228, 224, 212);
    margin: 0;
    padding: 0;
}

/*Fuentes*/

@font-face {
    font-family: "PatuaOne";
    src: url(../assets/Fonts/Patua_One/PatuaOne-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/Fonts/Poppins/Poppins-Light.ttf);
}


/* Nav*/


@media (max-width: 767px) {
    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav {
    background-color: rgb(108, 125, 81);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    position: sticky, 0;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: rgb(66, 40, 28);
    font-size: 26px;
    font-family: 'Kanit';
    font-weight: bold;
    padding: 0px 20px;
}

.nav-link:hover {
    color: rgb(228, 224, 212);
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}


/*Main*/

.textos h1 {
    font-size: 30px;
    font-family: 'PatuaOne';
    color: rgb(66, 40, 28);
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos h2 {
    font-size: 32px;
    font-family: 'PatuaOne';
    font-weight: bold;
    color: rgb(66, 40, 28);
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bolder;
    color: rgb(66, 40, 28);
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos p {
    font-size: 28px;
    font-family: 'Poppins';
    color: rgb(66, 40, 28);
    padding: 5px;
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*INICIO*/

@media (min-width: 1920px) {
    .container-visitanos {
        display: flex;
        flex-direction: row;
    }
}

.main-inicio {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 45, 33);
    background-image: url(../assets/Images/foto-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.wave_i {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-visitanos {
    align-items: center;
    justify-items: center;
    width: auto;
    padding: 50px 20px;
    gap: 20px;
}

.transporte {
    display: flex;
    flex-direction: column;
    width: 500;
    height: 500px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.transporte h2 {
    font-size: 32px;
    font-family: 'PatuaOne';
    font-weight: bold;
    color: rgb(66, 40, 28);
}

.transporte li {
    font-size: 28px;
    font-family: 'Poppins';
    color: rgb(66, 40, 28);
}

iframe {
    width: 1000px;
    height: 500px;
}

/*HISTORIA*/

.main-historia {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 45, 33);
    background-image: url(../assets/Images/foto-historia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.textos-historia {
    font-size: 16px;
    font-family: 'Poppins';
    color: rgb(66, 40, 28);
    padding: 5px;
    margin: 1px;
    width: 400px;
}

.grid-historia {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-historia .box-historia {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.45s;
    align-items: center;
    justify-items: center;
}

.box-historia {
    background-color: rgba(193, 185, 162, 0.778);
    padding: 1%;
}

.grid-historia .box-historia:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*TURISMO*/


.main-turismo {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 45, 33);
    background-image: url(../assets/Images/foto-turismo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.box {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    border: 1px solid white;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    position: absolute;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 2px 2px 6px 2px rgba(255, 235, 205, 0.193);
}

.box div {
    z-index: 3;
    border-radius: 14px;
    background-color: #4d4b4b34;
    color: white;
    font-family: 'Kanit';
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: a1;
}

.b1 {
    grid-area: a1;
}


.b2 {
    grid-area: a2;
}

.b3 {
    grid-area: a3;
}

.b4 {
    grid-area: a4;
}

.b5 {
    grid-area: a5;
}

.b6 {
    grid-area: a6;
}

.grid {
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    gap: 15px;
    grid-template-areas:
        'a6 a6 a2'
        'a5 a3 a2'
        'a4 a3 a1';
}


/*CONTACTO*/

.main-contacto {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 45, 33);
    background-image: url(../assets/Images/foto-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.formulario {
    grid-column: 1/13;
    background-color: var(--primarioº);
    width: min(60rem, 100%);
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: 'Poppins';
}

.formulario legend {
    color: var(--secundario);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.campo label {
    display: block;
    margin: 1rem 0 .5rem 0;
    padding: 5px;
    width: 100%;
    font-weight: 200;
}

.campo input {
    border-radius: .5rem;
    padding: 5px;
    border: 1rem var(--negro);
    box-shadow: 2px 2px 2px 1px rgb(108, 125, 81);
    height: 3rem;
    width: 100%;
}

.campo textarea {
    border-radius: .5rem;
    padding: 5px;
    border: 1rem var(--negro);
    box-shadow: 2px 2px 2px 1px rgb(108, 125, 81);
    height: 8rem;
    width: 100%;
}

.boton-formulario {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin: 10px;
}

.boton-formulario input {
    padding: 5px;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 1px rgb(108, 125, 81);
}

/*GALERIA*/

.container-galeria {
    display: flex;
    width: 50%;
    height: 500px;
}


/*FOOTER*/
footer {
    height: 180px;
    background-color: rgb(108, 125, 81);
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Kanit';
    color: rgb(66, 40, 28);
}

.footer-logo {
    display: flex;
    justify-content: left;
    text-align: center;
}

.footer-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    text-align: end;
}

@media only screen and (max-width: 767px) {
	.footer {
		display: flex;
		flex-direction: column;
	}
}